# Ignore everything
*

# Allow directories so Git can see inside them
!*/

# Specifically ignore the virtual environment folder
# Do this before the "un-ignore" rules
dfly/
.ipynb_checkpoints/
__pycache__/

# 4. Allow the good stuff
!.gitignore
!*.py
!*.ipynb
!det/mask_hvoff_20250311.h5
!srcenv
!slurm_dragonfly.sh
!slurm_resume_dragonfly.sh
!slurm_phase_df.sh
